<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="true" class="has-header">

  <!-- Slider 1 -->
  <ion-slides pager="true">
    <ion-slide *ngFor = "let slide of slider">
      <img [src]="slide.img" alt="slide.desc">
    </ion-slide>
  </ion-slides>
  
  <div id="home-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Enjoy the ambience of the lush Santa Cruz Valley. Taste and savour delicious local food. Meet the people who grow your food as well as your friends and family. Experience the creativity of local artisans. </p>

    <p style="color:#000000;">Improve your quality of life.</p>
  </div>
  
  <button ion-button full round color="primary">Learn More</button>
  
  <!-- Slider 2 -->
  <ion-slides pager="true">
    <ion-slide *ngFor = "let slide of slider">
      <img [src]="slide.img" alt="slide.desc">
      <h2 [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.desc"></p>
    </ion-slide>
  </ion-slides>
  
  <div id="home-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">Some Caribbean quotes.</p>
  
  </div>
  
  <button ion-button color="primary">
    <ion-icon name="instagram"></ion-icon>
  </button>
</ion-content>

<!--
<button ion-button secondary menuToggle>Toggle Menu</button>
-->